@import 'vars';
@import 'fonts';

html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

p,
h1,
h2 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {}

.header {
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;

    &__wrapper {
        padding: 0 16px;
    }

    &__inner {
        min-height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info__buttons {
        padding-left: 22px;
        max-width: 120px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            border-radius: 1px;
        }
    }

}

.info__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;


    .info__btn {
        padding: 0;
        font-size: 0;
        border: none;
        background-color: transparent;

        &-text {
            @extend %lakes-medium;
        }
    }
}

.menu {
    &__btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: #FF3E79;
        position: relative;
    }

    &__line,
    &__line::before,
    &__line::after {
        background-color: #fff;
        height: 2px;
        left: 11px;
        border-radius: 1px;
    }

    &__line {
        display: inline-block;
        position: absolute;
        width: 18px;
        top: 12px;
        left: 11px;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
        }

        &::before {
            width: 10px;
            top: 7px;
        }

        &::after {
            width: 14px;
            top: 14px;
        }
    }
}

.services {
    background-color: #F8F8F8;
    padding-top: 24px;

    &__buttons.info__buttons {
        display: none;
    }

    &__title {
        font-size: 1.75rem;
        line-height: 1.6rem;
        @extend %lakes-bold;
        padding-left: 24px;
        position: relative;
        letter-spacing: -0.6px;
        margin: 0;

        &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 100%;
            left: 0;
            top: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: #41F6D7;
        }
    }

    .services-box {
        &__buttons {
            margin-left: 16px;
        }

        &__title {
            display: none;
            letter-spacing: -0.2px;
            font-size: 1rem;
            color: #7E7E82;
            padding-top: 14px;
            margin-left: 56px;
            @extend %lakes-medium;
        }

        &__content {
            padding-top: 20px;
        }

        &__wrapper {
            padding: 0 16px;
        }
    }
}

.services-box {
    padding-top: 24px;

    &__wrapper {
        margin-bottom: 16px;

    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__btn {
        padding: 8px 17px;
        border: 2px solid transparent;
        border-radius: 5px;
        letter-spacing: -0.6px;
        line-height: 1.125rem;
        color: #7E7E82;
        flex-shrink: 0;

        cursor: pointer;

        &--active {
            border-color: #B8FFEC;
        }
    }

    &__info {
        max-height: 90px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__info-text {
        font-size: 0.875rem;
        @extend %lakes-regular;
        color: #1B1C21;
    }

    &__info-text-first {
        margin-bottom: 22px;
    }

    &__info-btn {
        margin-left: 8px;
        padding-left: 24px;
        margin-top: 16px;
        position: relative;
        letter-spacing: -0.2px;
        @extend %lakes-medium;
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 7.5px;
            height: 10.3px;
            background-image: url(../image/icon/arrow-down.png);
            background-position: center;
            background-size: cover;
            z-index: 1000;
        }
    }
}


.sistem-buttons {
    margin: 0 20px 0 auto;
    max-width: 150px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    display: none;

    &__btn {
        width: 40px;
        height: 40px;
        font-size: 0;
        padding: 0;
        border: none;
        background-color: transparent;
    }
}





@media (min-width: 560px) {

    .sistem-buttons {
        display: flex;
    }

    .logo {
        padding-left: 23px;
        margin-left: 20px;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 2px;
            height: 32px;
            left: 0;
            top: 14px;
            background-color: #EAEAEA;
            border-radius: 1px;

        }
    }

    .services {
        padding-bottom: 40px;

        .services-box {
            padding-top: 32px;


            &__content {
                display: flex;
                justify-content: space-between;
                padding-top: 32px;
            }

            &__wrapper {
                max-width: 328px;
                width: 100%;
                padding: 0 0 0 16px;
            }

            &__info {
                max-height: 160px;
            }

            &__info-text {
                line-height: 1.2rem;
            }

            &__info-btn {
                margin-top: 10px;
            }

            &__content-image {
                max-width: 360px;
                margin-right: 25px;
            }
        }

    }

}


@media (min-width: 810px) {
    .header {
        display: none;
    }

    .services {
        padding-top: 42px;
        padding-bottom: 49px;

        &__title {
            padding-left: 33px;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .services__buttons.info__buttons {
            max-width: 373px;
            display: flex;
            margin-right: 32px;

            .info__btn {
                display: flex;
                align-items: center;

                &-text {


                    display: inline-block;
                    font-size: 1rem;
                    color: #1B1C21;
                    margin-right: 8px;
                    letter-spacing: -0.2px;
                }
            }
        }




        .services-box {
            padding-top: 8px;

            &__title {
                display: block;
            }

            &__wrapper {
                max-width: 45.2%;
                padding-top: 9px;
                padding-left: 33px;
            }

            &__buttons {
                max-width: 1063px;
                margin-left: 33px;
            }

            &__content {
                padding-top: 7px;
            }

            &__info-btn {
                margin-top: 13px;
            }

            &__content-image {
                max-width: 47.5%;
            }
        }


    }
}